.flavour-row {
  align-items: center;
  margin-bottom: 12px;
}

.flavour-img {
  width: 50px;
  height: 50px;
}

ion-label {
  font-size: 1rem;
}

ion-button {
  min-width: 32px;
  height: 32px;
}

ion-button[disabled] {
  opacity: 0.4;
}
